/* Styles de base */
body {
    font-family: Arial, sans-serif;
    background-color: #e0e0e0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 7px 7px 15px #b0b0b0, -7px -7px 15px #ffffff;
  }
  
  nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  h1, h2 {
    font-size: 24px;
  }
  
  main {
    padding: 20px;
  }
  
  /* Styles pour le feed */
  #feed {
    margin-bottom: 40px;
  }
  
  .post {
    background-color: #e0e0e0;
    border-radius: 10px;
    box-shadow: 7px 7px 15px #b0b0b0, -7px -7px 15px #ffffff;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .post img {
    max-width: 100%;
    border-radius: 10px;
  }
  
  /* Styles pour la messagerie */
  #messagerie {
    margin-bottom: 40px;
  }
  
  #conversations-container {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 7px 7px 15px #b0b0b0, -7px -7px 15px #ffffff;
  }
  
  #chat-container {
    margin-top: 20px;
  }
  
  /* Styles pour la liste d'amis */
  #amis {
    margin-bottom: 40px;
  }
  
  #friend-list {
    list-style-type: none;
    padding: 0;
  }
  
  #friend-list li {
    background-color: #e0e0e0;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 7px 7px 15px #b0b0b0, -7px -7px 15px #ffffff;
    cursor: move;
  }
  
  input[type="text"] {
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
    box-shadow: inset 7px 7px 15px #b0b0b0, inset -7px -7px 15px #ffffff;
  }
  